# Import Modules

In [1]:
#standard imports
import numpy as np
import pandas as pd
#data visual imports
import matplotlib.pyplot as plt
import seaborn as sns
#statistics test import 
import scipy.stats as stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd
#sql imports
from sqlalchemy import create_engine 
from sqlalchemy.types import *
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

# Connect to mySQL DB

In [2]:
#connecting to mySQL
connection = "mysql+pymysql://root:root@localhost/movies"
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/movies)

In [3]:
#creating database
if database_exists(connection)==False:
    create_database(connection)
else: print('Database already exists')

Database already exists

In [4]:
#test query 
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_movies
0           genres
1     title_basics
2     title_genres
3    title_ratings
4        tmdb_data

# Hypothesis Testing

## Hypothesis: does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

Null Hypothesis: There is no difference in revenue between movie ratings

Alternate Hypothesis: There is a difference in revenue between movie ratings

Alpha = .05 (5%)

In [5]:
#query to find where data we need is
q = """SELECT *
    FROM tmdb_data;"""

pd.read_sql(q, engine)

              id     revenue      budget certification
0            NaN         NaN         NaN          None
1        11232.0  76019000.0  48000000.0         PG-13
2       285529.0         0.0         0.0          None
3       210258.0         0.0         0.0          None
4       151007.0         0.0         0.0          None
...          ...         ...         ...           ...
42854  1062820.0         0.0         0.0          None
42855   719518.0         0.0         0.0          None
42856   470448.0         0.0     15000.0          None
42857   488824.0         0.0         0.0          None
42858   688906.0         0.0         0.0          None

[42859 rows x 4 columns]

In [6]:
#all data for this hypothesis is available in tmdb data
#write query to get data
q = """SELECT revenue, certification
       FROM tmdb_data"""
#save query as a variable dataframe
df = pd.read_sql(q, engine)
#inspect dataframe
df.head()

      revenue certification
0         NaN          None
1  76019000.0         PG-13
2         0.0          None
3         0.0          None
4         0.0          None

### Data Cleaning

In [7]:
#inspect value counts for certficiation
df['certification'].value_counts()

R          2710
NR         1776
PG-13      1506
PG          655
G           236
NC-17        90
Unrated       4
-             2
R             1
PG-13         1
10            1
Name: certification, dtype: int64

In [8]:
#replacing redundant values
df = df.replace({'Unrated':'NR', '-':'NR', '10':'PG' })
#inspecting new values
df['certification'].value_counts()

R         2710
NR        1782
PG-13     1506
PG         656
G          236
NC-17       90
R            1
PG-13        1
Name: certification, dtype: int64

In [9]:
#inspectin Nan values in DF
df.isna().sum()

revenue              9
certification    35877
dtype: int64

In [10]:
#dropping nan values
df = df.dropna()
#inspectin NaN values again
df.isna().sum()

revenue          0
certification    0
dtype: int64

In [14]:
# create g filters for each rating
g = df.loc[df['certification']== 'G']
pg = df.loc[df['certification']=='PG']
pg13 = df.loc[df['certification']=='PG-13']
nc17 = df.loc[df['certification']=='NC-17']
r = df.loc[df['certification']=='R']
nr = df.loc[df['certification']=='NR']