# Import Modules and Data

In [1]:
#standard imports
import numpy as np
import pandas as pd
#data visual imports
import matplotlib.pyplot as plt
import seaborn as sns
#statistics test import 
import scipy.stats as stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [2]:
#save variable for file path
data = 'DATA/final_tmdb_data_2011.csv.gz'
#save data as variable
df_2011 = pd.read_csv(data)
#inspect data
df_2011.head(3)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0176694,0.0,/43VrmHOChLcAOG9S5tIFdsxr3u8.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",NaN,116369.0,hu,Az ember tragédiája,...,0.0,166.0,"[{'english_name': 'Hungarian', 'iso_639_1': 'h...",Released,NaN,The Tragedy of Man,0.0,7.5,13.0,NaN
2,tt0210470,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,239465.0,en,50 Feet of String,...,0.0,53.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,50 Feet of String,0.0,6.0,3.0,NaN

In [3]:
#save variable for file path
data = 'Data/final_tmdb_data_2012.csv.gz'
#save dataframe as variable
df_2012 = pd.read_csv(data)
#insect dataframe
df_2012.head(3)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0249516,0.0,/t7zb6CnRQwhzQSq0apR4ESFYiWN.jpg,NaN,65000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",http://www.thresholdanimationstudios.com/video...,116977.0,en,Foodfight!,...,73706.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Foodfight!,0.0,1.8,109.0,PG
2,tt0285252,0.0,/pKOHinAVIkyqLliMaTHCSL1T4zU.jpg,NaN,4000000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,112074.0,en,Life's a Beach,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Life's a Beach,0.0,2.4,6.0,R

In [4]:
#save variable for file path
data = 'Data/final_tmdb_data_2013.csv.gz'
#save dataframe as variable
df_2013 = pd.read_csv(data)
#insect dataframe
df_2013.head(3)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0104278,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,261362.0,de,Rote Ohren fetzen durch Asche,...,0.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Flaming Ears,0.0,4.929,7.0,NaN
2,tt0255820,0.0,NaN,NaN,2000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,323498.0,en,Return to Babylon,...,0.0,75.0,[],Released,NaN,Return to Babylon,0.0,6.000,22.0,NaN

In [5]:
#save variable for file path
data = 'Data/final_tmdb_data_2014.csv.gz'
#save dataframe as variable
df_2014 = pd.read_csv(data)
#insect dataframe
df_2014.head(3)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0329539,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,274341.0,en,Rice Girl,...,0.0,95.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"«For Windy Yee, a big break in Hollywood can m...",Rice Girl,0.0,1.00,2.0,NaN
2,tt0365907,0.0,/isrro0soStk2tSWMsI50lPPhUsU.jpg,NaN,28000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,169917.0,en,A Walk Among the Tombstones,...,58834384.0,114.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some people are afraid of all the wrong things,A Walk Among the Tombstones,0.0,6.31,2498.0,R

In [6]:
#save variable for file path
data = 'Data/final_tmdb_data_2015.csv.gz'
#save dataframe as variable
df_2015 = pd.read_csv(data)
#insect dataframe
df_2015.head(3)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0283440,0.0,/x5pQGCOdI4o5tCBCbB3eZdGycne.jpg,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,540873.0,de,Kurzzeithelden,...,0.0,0.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,NaN,Kurzzeithelden,0.0,0.0,0.0,NaN
2,tt0305811,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,802003.0,te,మాతృదేవోభవ,...,0.0,136.0,"[{'english_name': 'Telugu', 'iso_639_1': 'te',...",Released,NaN,Matru Devo Bhava,0.0,0.0,0.0,NaN

In [7]:
#save variable for file path
data = 'Data/final_tmdb_data_2016.csv.gz'
#save dataframe as variable
df_2016 = pd.read_csv(data)
#insect dataframe
df_2016.head(3)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0315642,0.0,/lD6lYulY6js9EAgUufh2ekNnCR4.jpg,NaN,5200000.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,275269.0,hi,वज़ीर,...,9200000.0,103.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,This new year make your best move,Wazir,0.0,6.700,105.0,PG-13
2,tt0376479,0.0,/fDxdfM4Qj2Qhc6EZYPyB3k4xatw.jpg,NaN,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://www.americanpastoral.movie/,326285.0,en,American Pastoral,...,0.0,108.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A radically ordinary story.,American Pastoral,0.0,6.132,605.0,R

In [8]:
#save variable for file path
data = 'Data/final_tmdb_data_2017.csv.gz'
#save dataframe as variable
df_2017 = pd.read_csv(data)
#insect dataframe
df_2017.head(3)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0100275,0.0,/2S2XTeS2b0LPnqzXBDD3ZmwPF2X.jpg,NaN,0.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,467254.0,es,La telenovela errante,...,0.0,80.0,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,NaN,The Wandering Soap Opera,0.0,6.625,12.0,NaN
2,tt0137204,0.0,/92PDk4xvjTdGXrQYF0QOojK2btM.jpg,NaN,0.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,503326.0,en,Joe Finds Grace,...,0.0,83.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A GLOVE STORY,Joe Finds Grace,0.0,10.000,1.0,NaN

# Data Cleaning

In [9]:
#save list of previous dataframes
frames = [df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017]
#using list to create one dataframe
tmdb_df = pd.concat(frames)
#insect new dataframe
tmdb_df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0176694,0.0,/43VrmHOChLcAOG9S5tIFdsxr3u8.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",NaN,116369.0,hu,Az ember tragédiája,...,0.0,166.0,"[{'english_name': 'Hungarian', 'iso_639_1': 'h...",Released,NaN,The Tragedy of Man,0.0,7.5,13.0,NaN
2,tt0210470,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,239465.0,en,50 Feet of String,...,0.0,53.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,50 Feet of String,0.0,6.0,3.0,NaN
3,tt0247643,0.0,NaN,NaN,0.0,[],NaN,287000.0,en,Los Pájaros se van con la Muerte,...,0.0,90.0,[],Released,NaN,Los Pájaros se van con la Muerte,0.0,0.0,0.0,NaN
4,tt0323808,0.0,NaN,NaN,7750000.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",http://www.thewickertreemovie.com/,79544.0,en,The Wicker Tree,...,0.0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Accept our sacrifice,The Wicker Tree,0.0,3.9,43.0,R

In [10]:
#check for duplicates and mising values
print(f'DataFrame has {tmdb_df.duplicated().sum().sum()} Duplicates Values')
print(f'DataFrame has {tmdb_df.isna().sum().sum()} Missing Values')

DataFrame has 6 Duplicates Values
DataFrame has 149402 Missing Values

In [13]:
#dropping duplicate files
tmdb_df = tmdb_df.drop_duplicates()
#inspepct to ensure duplicates dropped
print(f'DataFrame has {tmdb_df.duplicated().sum().sum()} Duplicates Values')

DataFrame has 0 Duplicates Values

In [14]:
#inspecting info
tmdb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38343 entries, 0 to 6494
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                38343 non-null  object
 1   adult                  38342 non-null  float64
 2   backdrop_path          21428 non-null  object
 3   belongs_to_collection  2254 non-null   object
 4   budget                 38342 non-null  float64
 5   genres                 38342 non-null  object
 6   homepage               8554 non-null   object
 7   id                     38342 non-null  float64
 8   original_language      38342 non-null  object
 9   original_title         38342 non-null  object
 10  overview               36134 non-null  object
 11  popularity             38342 non-null  float64
 12  poster_path            34100 non-null  object
 13  production_companies   38342 non-null  object
 14  production_countries   38342 non-null  object
 15  release_date           37671 non-null  object
 16  revenue                38342 non-null  float64
 17  runtime                38342 non-null  float64
 18  spoken_languages       38342 non-null  object
 19  status                 38342 non-null  object
 20  tagline                11250 non-null  object
 21  title                  38342 non-null  object
 22  video                  38342 non-null  float64
 23  vote_average           38342 non-null  float64
 24  vote_count             38342 non-null  float64
 25  certification          6118 non-null   object
dtypes: float64(9), object(17)
memory usage: 7.9+ MB

In [15]:
#inspect values for certification
tmdb_df['certification'].value_counts()

R          2224
NR         1700
PG-13      1310
PG          581
G           210
NC-17        86
Unrated       4
R             1
PG-13         1
10            1
Name: certification, dtype: int64

In [21]:
#replace values for consitency 
tmdb_df = tmdb_df.replace({'Unrated':'NR', 'R':'R', '10':'PG', 'PG-13':'PG-13'})
tmdb_df['certification'].value_counts()

R         2224
NR        1704
PG-13     1310
PG         582
G          210
NC-17       86
R            1
PG-13        1
Name: certification, dtype: int64

In [22]:
#inspecting values
tmdb_df['genres'].value_counts()

[{'id': 18, 'name': 'Drama'}]                                                                                                                                   6997
[]                                                                                                                                                              4907
[{'id': 35, 'name': 'Comedy'}]                                                                                                                                  3161
[{'id': 27, 'name': 'Horror'}]                                                                                                                                  1674
[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}]                                                                                                     1102
                                                                                                                                                                ...
[{'id': 12, 'name': 'Adventure'}, {'id': 35, 'name': 'Comedy'}, {'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}, {'id': 28, 'name': 'Action'}]       1
[{'id': 878, 'name': 'Science Fiction'}, {'id': 12, 'name': 'Adventure'}, {'id': 35, 'name': 'Comedy'}]                                                            1
[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}, {'id': 28, 'name': 'Action'}, {'id': 80, 'name': 'Crime'}]                                           1
[{'id': 36, 'name': 'History'}, {'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}, {'id': 10752, 'name': 'War'}]                                         1
[{'id': 28, 'name': 'Action'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]                             1
Name: genres, Length: 2587, dtype: int64