# Import Modules and Data

In [1]:
#standard imports
import numpy as np
import pandas as pd
#data visual imports
import matplotlib.pyplot as plt
import seaborn as sns
#statistics test import 
import scipy.stats as stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [2]:
#save variable for file path
data = 'DATA/final_tmdb_data_2011.csv.gz'
#save data as variable
df_2011 = pd.read_csv(data)
#inspect data
df_2011.head(3)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0176694,0.0,/43VrmHOChLcAOG9S5tIFdsxr3u8.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",NaN,116369.0,hu,Az ember tragédiája,...,0.0,166.0,"[{'english_name': 'Hungarian', 'iso_639_1': 'h...",Released,NaN,The Tragedy of Man,0.0,7.5,13.0,NaN
2,tt0210470,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,239465.0,en,50 Feet of String,...,0.0,53.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,50 Feet of String,0.0,6.0,3.0,NaN

In [4]:
#save variable for file path
data = 'Data/final_tmdb_data_2012.csv.gz'
#save dataframe as variable
df_2012 = pd.read_csv(data)
#insect dataframe
df_2012.head(3)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0249516,0.0,/t7zb6CnRQwhzQSq0apR4ESFYiWN.jpg,NaN,65000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",http://www.thresholdanimationstudios.com/video...,116977.0,en,Foodfight!,...,73706.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Foodfight!,0.0,1.8,109.0,PG
2,tt0285252,0.0,/pKOHinAVIkyqLliMaTHCSL1T4zU.jpg,NaN,4000000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,112074.0,en,Life's a Beach,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Life's a Beach,0.0,2.4,6.0,R

In [5]:
#save variable for file path
data = 'Data/final_tmdb_data_2013.csv.gz'
#save dataframe as variable
df_2013 = pd.read_csv(data)
#insect dataframe
df_2013.head(3)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0104278,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,261362.0,de,Rote Ohren fetzen durch Asche,...,0.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Flaming Ears,0.0,4.929,7.0,NaN
2,tt0255820,0.0,NaN,NaN,2000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,323498.0,en,Return to Babylon,...,0.0,75.0,[],Released,NaN,Return to Babylon,0.0,6.000,22.0,NaN

In [6]:
#save variable for file path
data = 'Data/final_tmdb_data_2014.csv.gz'
#save dataframe as variable
df_2014 = pd.read_csv(data)
#insect dataframe
df_2014.head(3)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0329539,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,274341.0,en,Rice Girl,...,0.0,95.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"«For Windy Yee, a big break in Hollywood can m...",Rice Girl,0.0,1.00,2.0,NaN
2,tt0365907,0.0,/isrro0soStk2tSWMsI50lPPhUsU.jpg,NaN,28000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,169917.0,en,A Walk Among the Tombstones,...,58834384.0,114.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some people are afraid of all the wrong things,A Walk Among the Tombstones,0.0,6.31,2498.0,R

In [7]:
#save variable for file path
data = 'Data/final_tmdb_data_2015.csv.gz'
#save dataframe as variable
df_2015 = pd.read_csv(data)
#insect dataframe
df_2015.head(3)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0283440,0.0,/x5pQGCOdI4o5tCBCbB3eZdGycne.jpg,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,540873.0,de,Kurzzeithelden,...,0.0,0.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,NaN,Kurzzeithelden,0.0,0.0,0.0,NaN
2,tt0305811,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,802003.0,te,మాతృదేవోభవ,...,0.0,136.0,"[{'english_name': 'Telugu', 'iso_639_1': 'te',...",Released,NaN,Matru Devo Bhava,0.0,0.0,0.0,NaN

In [8]:
#save variable for file path
data = 'Data/final_tmdb_data_2016.csv.gz'
#save dataframe as variable
df_2016 = pd.read_csv(data)
#insect dataframe
df_2016.head(3)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0315642,0.0,/lD6lYulY6js9EAgUufh2ekNnCR4.jpg,NaN,5200000.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,275269.0,hi,वज़ीर,...,9200000.0,103.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,This new year make your best move,Wazir,0.0,6.700,105.0,PG-13
2,tt0376479,0.0,/fDxdfM4Qj2Qhc6EZYPyB3k4xatw.jpg,NaN,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://www.americanpastoral.movie/,326285.0,en,American Pastoral,...,0.0,108.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A radically ordinary story.,American Pastoral,0.0,6.132,605.0,R

In [9]:
#save variable for file path
data = 'Data/final_tmdb_data_2017.csv.gz'
#save dataframe as variable
df_2017 = pd.read_csv(data)
#insect dataframe
df_2017.head(3)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0100275,0.0,/2S2XTeS2b0LPnqzXBDD3ZmwPF2X.jpg,NaN,0.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,467254.0,es,La telenovela errante,...,0.0,80.0,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,NaN,The Wandering Soap Opera,0.0,6.625,12.0,NaN
2,tt0137204,0.0,/92PDk4xvjTdGXrQYF0QOojK2btM.jpg,NaN,0.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,503326.0,en,Joe Finds Grace,...,0.0,83.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A GLOVE STORY,Joe Finds Grace,0.0,10.000,1.0,NaN

# Data Cleaning