In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#save links
basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'
ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'
akas_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'

In [3]:
#creating dataframes from links
basics_df = pd.read_csv(basics_url, sep='\t', low_memory=False)
ratings_df = pd.read_csv(ratings_url, sep='\t', low_memory=False)
akas_df = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [4]:
#inspecting basics df
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9367567 entries, 0 to 9367566
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 643.2+ MB

In [5]:
#replacing missing values with nan
basics_df = basics_df.replace({'\\N':np.nan})
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [6]:
#checking titleType values
basics_df['titleType'].value_counts()

tvEpisode       7073066
short            899687
movie            626958
video            267081
tvSeries         234026
tvMovie          138247
tvMiniSeries      45954
tvSpecial         39050
videoGame         32762
tvShort           10734
tvPilot               2
Name: titleType, dtype: int64

In [7]:
#only movie types
basics_df= basics_df.loc[basics_df['titleType'] == 'movie']
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
498,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,NaN,NaN,Drama

In [12]:
#excluding documentaries
basics_df['genres'].value_counts()

is_documentary = basics_df['genres'].str.contains('Documentary',case=False)
basics_df = basics_df[~is_documentary]

TypeError: bad operand type for unary ~: 'float'

In [17]:
#only movies after 2000
basics_df = basics_df['startYear'].str.contains('20',case=False)
basics_df.head()

KeyError: 'startYear'

In [20]:
#drop nan Running Time and Genre 
basics_df = basics_df.dropna(subset=['runningTime', 'genres'], inplace=True)
basics_df.head()

TypeError: dropna() got an unexpected keyword argument 'subset'

In [18]:
#inspecting akas
akas_df.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [19]:
#replacing nan values
akas_df = akas_df.replace({'\\N':np.nan})
akas_df.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [21]:
#inspecting ratings df
ratings_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1922
1  tt0000002            5.8       259
2  tt0000003            6.5      1734
3  tt0000004            5.6       174
4  tt0000005            6.2      2546

In [23]:
#replacing nan values
ratings_df = ratings_df.replace({'\\N':np.nan})
ratings_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1922
1  tt0000002            5.8       259
2  tt0000003            6.5      1734
3  tt0000004            5.6       174
4  tt0000005            6.2      2546

In [24]:
# filtering only us movie
us =basics_df['tconst'].isin(akas['titleId'])
us

basics_df = basics_df[us]
basics_df.head()

KeyError: 'tconst'