In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#save links
basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'
ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'
akas_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'

In [3]:
#creating dataframes from links
basics_df = pd.read_csv(basics_url, sep='\t', low_memory=False)
ratings_df = pd.read_csv(ratings_url, sep='\t', low_memory=False)
akas_df = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [4]:
#inspecting basics df
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9365430 entries, 0 to 9365429
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 643.1+ MB

In [12]:
#replacing missing values with nan
basics_df = basics_df.replace({'\\N':np.nan})
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [15]:
#elimating null values for genres and runtime
basics_df = basics_df.dropna(subset=['genres', 'runtimeMinutes'])
basics_df.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear           69490
endYear           2458371
runtimeMinutes          0
genres                  0
dtype: int64